
#include "qffi.hpp"

extern "C" {

{% for name, cls in classes.items() -%}
{%- set cpp_name = cls.overwrite_name or name %}

// {{ name }}

{%- if not cls.movable -%}

{# QOBJECT CTOR #}
{% if cls.qobject_default_ctor -%}
{{ name }}* qffi_{{ name }}_init(QObject* parent) {
    return ({{ name }}*)new {{ cpp_name }}(parent);
}
{% endif %}

{#- DTOR #}
{% if cls.generate_dtor -%}
void qffi_{{ name }}_destroy({{ name }}* self) {
    delete ({{ cpp_name }}*)self;
}
{% endif %}

{#- CLONE #}
{% if cls.copy_ctor -%}
{{ name }}* qffi_{{ name }}_clone({{ name }} const* self) {
    return ({{ name }}*)new {{ cpp_name }}(*({{ cpp_name }} const*)self);
}
{% endif -%}

{%- else -%}{#- not movable #}

static_assert(alignof({{ cpp_name }}) == alignof(_{{ name }}), "Alignment of {{ cpp_name }} incompatible");
static_assert(sizeof({{ cpp_name }}) == sizeof(_{{ name }}), "Size of {{ cpp_name }} incompatible");

{# CTOR #}
{% if cls.default_ctor -%}
void qffi_{{ name }}_init({{ name }}* self) {
    new (({{ cpp_name }}*)self) {{ cpp_name }}();
}
{% endif %}

{#- DTOR #}
{% if cls.generate_dtor -%}
void qffi_{{ name }}_destroy({{ name }}* self) {
    (({{ cpp_name }}*)self)->~{{ cpp_name }}();
}
{% endif %}

{#- CLONE #}
{% if cls.copy_ctor -%}
void qffi_{{ name }}_clone({{ name }} const* self, {{ name }}* new_) {
    new (({{ cpp_name }}*)new_) {{ cpp_name }}(*({{ cpp_name }} const*)self);
}
{% endif -%}

{%- endif %}{#- not movable -#}

{#- EQUALS #}
{% if cls.eq -%}
bool qffi_{{ name }}_equals({{ name }} const* self, {{ name }} const* other) {
    return *(({{ cpp_name }} const*)self) == *(({{ cpp_name }} const*)other);
}
{% endif -%}

{#- ORD #}
{% if cls.ord -%}
signed char qffi_{{ name }}_ord({{ name }} const* _self, {{ name }} const* _other) {
    auto* self = ({{ cpp_name }} const*) _self;
    auto* other = ({{ cpp_name }} const*) _other;
    return int(*other < *self) - int(*self < *other);
}
{% endif -%}

{#- Methods -#}
{% for method_name, method in cls.methods.items() %}
{{ method.return_ }} qffi_{{ name }}_{{ method_name }}(
    {%- if not method.static -%}
        {{ name }} {% if method.const %}const{% endif %}* _self
        {%- if method.params %}, {% endif -%}
    {%- endif -%}
    {%- for name, type in method.params.items() -%}
        {{ type }} {{ name }}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
) {
    {% if not method.static -%}
    auto* self = ({{ cpp_name }} {% if method.const %}const{% endif %}*) _self;
    {%- endif %}
    {{ method.body | trim | indent }}
}
{% endfor %}
{%- endfor %}
}